.dark {
    background-color: #121212;
    color: white;
    border-color: white solid 2px;
}

.box {

    display: inline-block;
    border: solid 4px black;
    text-align: center;
    padding: 40px;
    max-width: 100px;
    cursor: pointer;

}

section {
    border: solid 2px black;
    padding: 12px;
    
}

header {
    display: flex;
    justify-content: space-between;
    margin: 17px;
}